<form [formGroup]="profileForm">
  <br>
  <div class="form-group">
    <input formControlName="firstName" type="text" placeholder="firstName">
    <p class="error" *ngIf="profileForm.controls['firstName'].hasError('required') && profileForm.controls['firstName'].touched">First name is required.</p>
  </div>
  <div class="form-group">
    <input formControlName="lastName" type="text" placeholder="lastName">
    <p class="error" *ngIf="profileForm.controls['lastName'].hasError('required') && profileForm.controls['lastName'].touched">Last name is required.</p>
    <p class="error" *ngIf="profileForm.controls['lastName'].hasError('minlength') && !profileForm.controls['lastName'].hasError('required')">Last name must be at least 5 char.</p>
  </div>
  <br>
</form>

<button (click)="markTouchAndDirty()">MarkDirty</button>